/*! Paste your custom styles here */

.index-title{
    padding-top: 200px;
    padding-bottom: 300px;
}

@media only screen and (min-width: 1140px){
    .nav__wrap {
        display: block!important;
        height: auto!important;
    }
}
